[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
npga = {git = "https://github.com/EmilioSchi/Niched-Pareto-Genetic-Algorithm-NPGA#egg=NPGA"}
matplotlib = "*"
pillow = "*"
pyyaml = "*"
ipywidgets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3"
